@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');
body{
   background-color: #253237;
   font-family: 'Instrument Sans',sans-serif;
   background-image: url(/images/background.jpg);
    background-repeat:no-repeat;
    background-position: fixed;
    background-size: cover;
    opacity: 200%;
    
   
}
.top{
    display:flex;
    font-size:23px;
    margin-left:5px;
    margin-right:5px;
    background-color: #c2dfe3;
    height:50px;
    justify-content: space-between;
    padding-left:25px;
    padding-right:20px;
    padding-top: 10px;
    align-content: center;
}
#contact{
    display:flex;
    align-content: center;
}
#phone{
    font-size:25px;
    padding-right:10px;
}
#email{
    font-size:25px;
    padding-right:10px;
    padding-left:10px;
}
#man{
    font-size:40px;
    padding-left:30px;
}
.top a{
    font-size:30px;
    color:#253237;
}
.top a:hover{
    color:rgb(50, 197, 241);
}
.top li{
    display:inline;
    margin:5px;
}
#contact{
    align-items: center;
}
nav{
    background-color: #5c6b73;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    color:#e0fbfc;
    font-size:32px;
    margin-left:5px;
    margin-right:5px;
}
nav li{
    display:inline;
}
nav a{
    height:10px;
    font-size:22px;
    text-decoration: none;
    color:#c2dfe3;
}
nav a:hover{
    color:rgb(50,197,241)
}
.menu li{
    margin-left:20px;
    padding-right:10px;
    text-decoration: none;

}

.comments{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    position: absolute;
    left:40%;
    width:900px;
    height:800px;
}
@keyframes animate{
0% {background-color: yellow;}
25% {background-color: green;}
50% {background-color:red;}
100% {background-color:blue;}
100% {font-size:100px;}
}
.comments select{
    font-size:25px;
    margin-bottom:40px;
    height:50px;
    width: 500px;
}
.comments button:hover{
    animation-name: animate;
    animation-duration:4s;
}
#login{
    display:flex;
    height:700px;
    width:1000px;
    flex-wrap:wrap;
    background-color: #5c6b73;
    color:white;
    font-size:25px;
    justify-content: center;
    position:absolute;
    top: 20%;
    left:30%;
    right:0;
}
#login button{
    font-size:25px; 
        margin-top:10px; 
        width:500px; 
        height:55px;
        text-align: center; 
        color:white;
        border:none;
        border-radius: 15px;
        margin-bottom:30px;
        background-color: rgb(63, 166, 63);
}
#login button:hover{
background-color: rgb(2, 185, 72);
}
#inputLog{
    align-self: center;
}
#inputLog input{
    height:30px;
    width:500px;
}
.register{
    display:flex;
    height:1000px;
    width:1200px;
    flex-wrap:wrap;
    background-color: #5c6b73;
    color:white;
    font-size:23px;
    justify-content: center;
    position:absolute;
    top: 20%;
    left:30%;
    right:0;
}
.register label{
    display:inline-block;
    width:200px;
    height:40px;
    text-align:right;
    margin:10px;
}
#regLog{
    align-self: center;
}
#regLog input{
    height:30px;
    width:500px;
}
#regLog button{
    font-size:25px; 
        margin-top:10px; 
        width:290px; 
        height:55px;
        display: inline-block;
        position: relative;
        left:31%;
        text-align: center; 
        color:white;
        border:none;
        border-radius: 15px;
        margin-bottom:30px;
        background-color: rgb(63, 166, 63);
}
#regLog button:hover{
background-color: rgb(2, 185, 72);
}
.bronze label, .silver label, .gold label{
    text-align: start;
}
@keyframes test{
    
    0% {background-color: red;}
    50% {background-color: yellow;}
    100% {background-color: orange; }
}

.bronze label:hover{
    animation-name: test;
    animation-duration: 2s;
}

.silver label:hover{
    animation-name: test;
    animation-duration: 2s;
}

.gold label:hover{
    animation-name: test;
    animation-duration: 2s;
}